*.tar
*.tar.*
*.jar
*.exe
*.msi
*.deb
*.zip
*.tgz
*.log
*.log.*
*.sig

node_modules/
playwright-report/
test-results/
allure-results/
allure-report/
.playwright-mcp/
.playwright-browsers/
.env
data/credentials/.env.credentials

pkg/
src/
